button.style2 {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #64748b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

button.style2:hover {
    background-color: #475569;
}
